body {
    text-align: center;
    background: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row.writename {
    padding: 20px;
}

.row.languages {
    padding: 20px;
}

.row.btnsection {
    padding: 20px;
}


.container {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    background-color: cornflowerblue;
    margin-left: 10px;
    margin-right: 10px;
}

button.button-primary.enterBtn {
    margin-bottom: 25px;
}

.message {
    margin-bottom: 20px;
}

input.greetSomeone {
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button.button-primary {
    width: 10%;
    height: 37px;
    cursor:move;
    opacity: 0.6;
}

label {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span.label-body {
    font-size: 25px;
}


@media (max-width: 800px){

button.button-primary {
    width: 27%;
}

}