body {
    text-align: center;
    background: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row.writename {
    padding: 20px;
}

.row.languages {
    padding: 20px;
}

.row.btnsection {
    padding: 20px;
}


.container {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    width: 50%;
    position: absolute;
    left: 24%;
    background-color: cornflowerblue;
}

button.button-primary.enterBtn {
    margin-bottom: 25px;
}

.message {
    margin-bottom: 20px;
}

input.greetSomeone {
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button.button-primary {
    /* margin-bottom: 25px; */
    width: 20%;
    height: 37px;
    cursor:move;
    opacity: 0.6;
}

label {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span.label-body {
    font-size: 25px;
}
